body {
    text-align: center;
    background-color: black;
}

h1 {
    color: red;
}
h2 {
    color: orange;
}
h3 {
    color: yellow;
}
h4 {
    color: green;
}
h5 {
    color: blue;
}
h6 {
    color: violet;
}

.gradient-border {
    border: 5px solid;
    border-image: linear-gradient(45deg, purple, orange) 1;
}

div {
    width: 50vh;
    margin: auto;
    border: 30px solid brown;
    padding: 10px;
    background-color: green;
    background-clip: content-box;
}


